<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form action="/cincinatti">
		<label for="kalamazoo">Sincerity</label>
		<input type="text" name="zinga" id="kalamazoo">
		<br/>
		<label for="chihuahua">Fortuity</label>
		<input type="text" name="yosemite" id="chihuahua">
		<br/>
		<label for="creditcard">Credit Card</label>
		<input type="text" name="creditcard" id="creditcard">
		<br/>
		<button type="submit">cyberdrama</button>
	</form>

</body>
</html>