<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<form method="POST"
          action="/philadelphia">
		<label for="kalamazoo">Sincerity</label>
		<input type="text" name="zinga" id="kalamazoo">
		<br/>
		<label for="chihuahua">Fortuity</label>
		<input type="text" name="yosemite" id="chihuahua">
		<br/>
		<label for="creditcard">Credit Card</label>
		<input type="text" name="creditcard" id="creditcard">
		<br/>
		<button type="submit">cyberdrama</button>
	</form>

	<p> <%= (0..100).to_a %> </p>

	<script src="/app.js"></script>

</body>
</html>